.order-container{
    position: relative;
    top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    border: 2px solid red;
    height: auto;
    align-items: center;
    gap: 1rem;
}
.order-header p{
    font-size: 1.5rem;
    font-weight: bold;
}
.order-summary{
width: 70%;
}
.order-placed-container{
    display: flex;
    justify-content: space-between;
    border: 2px solid green;
    
}
.order-place-text{
    display: flex;
    justify-content: space-between;
    width: 50%;
    border: 2px solid yellow;
    
}
.bold{
    font-weight: bold;
}
