.homepage-content {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.homepage-content h1 {
  padding: min(1rem, 0.4%);
  white-space: nowrap;
  font-size: clamp(0.9rem, calc(3vw + 1rem), 4rem);
}
.homepage-content button {
  padding: min(1rem, 10%);
  border-radius: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: clamp(0.8rem , calc(2vw + 10%),1.3rem);
  white-space: nowrap;
  border: none;
}

@media (max-width: 400px) {
  .homepage-content {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .homepage-content button {
  border-radius: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: clamp(0.8rem , calc(2vw + 10%),1.3rem);
  border: none;
  padding: min(1rem,20%);
}
}
