.homepage-container {
  height: 100dvh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.allPost-sub-container {
  position: absolute;
  top: 4.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blog-container {
  max-width: 80vw;
  width: 100%;
  background-color: rgb(177, 108, 53);
  max-height: 150px;
  border-radius: 10px;
  cursor: pointer;
}
.blog-title {
  padding: min(0.3rem, 20%);
}
.blog-body {
  padding: min(0.3rem, 20%);
}
.truncate {
  white-space: nowrap; /* keep text in single line */
  overflow: hidden; /* hide extra text */
  text-overflow: ellipsis; /* add ... at the end */
  width: 100%; /* set fixed width */
  display: block;
}
