.nav-container{
    background-color: #161349;
    height: 60px;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    z-index: 1000;
    right: 0;
    left: 0;
}
.logo .menu-img{
    padding: 10px 15px;
}
.nav-right-section .nav-ul{
    display: flex;
    gap: 50px;
    list-style: none;
    align-items: center;
    border: 2px solid red;
    padding: 5px 10px ;
}